@charset "utf-8";

/*初期値リセット*/

body{
  margin: 0;
  padding: 0;
  background-color: #323048;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  text-align: center;
  max-width: 100%;

}

p,h1,h2,h3,h4,h5,h6{
  margin-top:0; 
  font-weight: 300;
  text-align: justify;
  text-align-last: left;
}

img{
  vertical-align: bottom;
}

ul{
  margin: 0;
  padding: 0;
  
}

/*リンク文字の色を指定*/

nav a{
  padding: 2px 10px;
  border-radius: 5px; 
}
a{
  color: #fff;
  text-decoration: none;
}
a:visited{
  color: #aaaec8;
  opacity: 0.8;
}
nav a:hover {
  background-color: #fff;
  color: #323048;  
}


/*ヘッダーの設定*/
header{
  width: 960px;
  height: 100px;
  margin: 0 auto;
}
.logo img{
  float: left;
  margin: 20px 0;
  height: 70px;
  width: 30% auto;
}
.global-nav{
  float: right;
  margin-top: 60px;
}
.global-nav li{
  float: left;
  margin: 0 5px ;
  font-size: 20px;
  list-style: none;
}

/*背景画像の設定*/
body{
  background-image: url(../images/DSC_0604-2.JPG);
  
/* 背景画像の透過*/
  background-color: rgba(050,048,072,0.7);
  background-blend-mode: darken;
  
  
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
}

/*Wrapの設定*/
#wrap{
  clear: both;
}

/*ポートフォリオページの背景設定*/
.port-com{
  background-color: #fff;
  width:100%;
  margin: 0 auto;
}

/*コンテンツエリアの設定*/
.content{
  width: 960px;
  margin: 0 auto;
}

.web-title{
  
  margin: 3vw auto 10vw;
  height: 220px;
 
  
}
.top-main li{
  
  list-style: none;
  text-align: left;
}


/*トップページのコンテンツの高さ*/
#top .content{
  height: 1000px;
}
/*ポートフォリオページの高さ*/
#Portfolio .main{
  height: 100vw;
}

/*作品詳細ページの高さ*/
#Portfolio-main .main {
  height: 1000px;
}

.main h1{ 
  letter-spacing: 1px;
  margin: 30px 0 ;
  border-bottom: 1px solid #fff;
}

/*トップページレイアウトの設定*/
#top .top-main{
  margin-left: 80px;
  width:480px;
  float:left;
}
.top-txt{
  margin: 20px;
  
}

.top-main .btn{
  margin-left: 20px;
}
#top .top-img{
  height: 240px;
  
  padding: 3vw 5vw 2vw;
  float:right;
}



/*ボタンの設定*/
.btn a{
  background-color: rgba(50,48,72,0.3);
  
  color: #fff;
  letter-spacing: 1px;
  font-family: 'teko', sans-serif;
  font-size: 30px;
  padding: 2px 22px 0;
  border-radius: 4px;
  border: 1px solid #fff;
}
.btn a:hover{
  background-color: #fff;
  color: #aaaec8;

}

/*ポートフォリオアイコンアニメーションの設定*/

.product-img li{
  width: 33%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.product-img li .mask:before{
  content :"";
  padding-right: 10px;
}
.product-img li .mask{
  font-weight: 500;
  width: 99.9%;
  height: 99.9%;
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition:all 0.6s ease;
  display:flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;   
}

/*ポートフォリオページの設定*/

.main{
  margin: 50px 15% 0;
}
.product-img li{
  
  float: left;
  list-style: none;
}
.product-img{
  margin:0 5%;
}
.product-img img{
  width: 33%;
  width: 200px;
}

/*カーソル時のアクション*/


 .product-img li .mask:hover{
  opacity: 1;
  content :"";
  border-left:20px solid #454547;
} 


/*作品詳細ページのタイトルレイアウト設定*/

.box{
  height: 50px;
}
.production{
  width:95%;
  margin: 0 auto;
  height:73px;
  color: #323048;
  border-bottom: 1px solid #323048;
  padding: 12px 0 0;
}

.production h2{
  font-size: 17px;
}
.title{
  float: left;
  font-size: 1.2em;
  margin: 0 0 0 20px; 
}
.sub-title{
  float: right;
  margin: 19px 30px 0 0;
}


/*作品紹介ページのレイアウト設定*/

/*回り込み解除＆ボックス化*/
.product-discription:after{
  content:"";
  display: block;
  clear: both;
  padding-bottom: 5%;
}　



.prdis{
 clear:both;
  padding-bottom: 40px;
}

.dis-bottom{
  height: 100px;
}
/*作品説明*/
.sub-discription h2{
  width: 46%;
  color: #323048;
  margin: 0 3% 0;
  border-bottom : 1px solid #495479;
   
}

.sub-discription h2:before{
  content: "";
  padding:0  1% 0 ;
  border-left: 7px solid #495479;
  
  
  
}

.so{
  font-size: 30px;
}

.sub-discription h3{
  font-size:18px;
  width: 47%;
  color: #323048;
  margin: 0 3% 0;
  font-weight: 300;
   border-bottom : 1px solid #495479;
  
   
}

.sub-discription h3:before{
  content: "";
  padding:0  1% 0 ;
  border-left: 7px solid #495479;
  
  
  
  
  
}
.product-txt{
  margin: 5% 3% 0;
}
.prtxt{
  color: #323048;
  width: 46%;
  margin: 0 0 0 1%;
  float: left;
}
.prtxt-p{
  color: #323048;
  width: 46%;
  margin: 0 0 0 1%;
  float: left;
}
.prtxt-r{
  color: #323048;
  width: 92%;
  margin: 0 0 0 1%;
  float: left;
}
span{
  font-weight: 500;
}

.primg{
  width: 45%;
  float: right;
  margin-right: 1%;
}

/*フォームの設定*/

.form{
  text-align: left;

  background-color: #aaaec0;
  font-weight: 500;

 
  width: 90%;
margin: 0  auto;
}
.form dl dt{
  width: 35%;
  padding: 2% 0 2% 2%;
  float: left;
  clear:both;
}

.form dl dd{
  padding: 2%;
}
.form .name{
  width: 46%;
  height:3vw;
}
.form .email{
  width: 65%;
  height: 3vw;
}
.form .tel{
  width: 40%;
  height: 3vw;
}
.form .type{
  width: 33%;
  height: 3vw;
}
.form .message{
  width: 65% ;
  height: 25vw;
}
.form button{
   background-color: rgba(50,48,72,0.3);
  
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Noto Sans JP', san-serif;
  font-weight: 700;
  font-size: 15px;
  width: 20%;
  height: 10%;
  padding: 1% 1% ;
  border-radius: 4px;
  border: 1px solid #fff;
  
  margin-left: 36.9%;
}

.form button:hover{
  background-color: #fff;
  color: #aaaec8;
 cursor: pointer;
}
/*必須入力項目*/


.required:after{
  content: " * ";
  color: #f53800; 
}


/*フッターの設定*/
footer{
  width: 100%;   
}
footer small{
  font-size: 12px;
}

.thanks {
   width: 70%;
  margin: 0 auto;
  
  padding: 5%;
}

.remail{
  width: 80%;
  margin:0  auto;
  padding: 2%;
}

/*メディアクエリ設定*/
@media screen and (max-width:600px){

/*画面サイズが600px以下の場合に適用*/
  
  body{
    font-size:14px ;
    line-height: 1.8;
     
  }
  .web-title{
   display: none;
  }
  
  h1{
    font-size: 7.5vw;
   
  }
  
  h2{
    font-size:4.3vw;
  }
  /*  ヘッダーの調整*/
  header{
    width: auto;
    margin: 0 5%;
  }
  .logo{
    float: none;
    margin-top: 5vw;
    text-align: center;
  }
  .global-nav{
    float: none;
    margin-top: 6vw;
    text-align: center;
    
  }
  .global-nav li{
    display:inline;
    float: none;
    margin: 0 2vw;
    font-size: 5vw;
    
  }
  
/*  メインコンテンツの調整*/
  
  #wrap{
    margin-top:10vw;
    padding:30vw 0 0;
  }
  .content{
    width: 100%;
    float: none;
    width: auto;
    margin: 0 5%;
  } 
  
  .logo img{
  float: left;
  margin-bottom: 20px;
  height: 20vw;
  width: 0 50%;
  }
  /*トップページレイアウトの設定*/
#top .top-main{
  margin: 0;
  width: 100%;
  float:left;
}
  img{
    
    max-width: 100%;
  }
  /*ポートフォリオアイコンアニメーションの設定*/

.product-img li{
  width: 37.9vw;
  margin: 0 auto;
  
  position: relative;
  overflow: hidden;
  font-size: 2.5vw;
  size:cover;
}



/*ポートフォリオページの設定*/

.main{
  margin: 2vw;
}
.product-img li{
  
  float: left;
  list-style: none;
}
.product-img{
  margin:0 5%;
}
.product-img img{
  width: 33%;
  width: 200px;
}



/*作品詳細ページのタイトルレイアウト設定*/

.box{
  height: 50px;
}
.production{
  
  width:100%;
  margin: 0 auto;
  height:12vw;
  color: #323048;
  border-bottom: 1px solid #323048;
  padding: 0;
}

.production h2{
   margin: 0 0 7vw 5vw ;
     font-size: 5vw;
}
.title{
  float: left;
  
  margin: 0 0 0 2vw; 
}
.sub-title{
  float: left;
  margin: 0 5vw 0 0;
 
}


/*作品紹介ページのレイアウト設定*/

/*回り込み解除＆ボックス化*/
.product-discription:after{
  content:"";
  display: block;
  clear: both;
  padding-bottom: 5%;
}　



.prdis{
 clear:both;
  padding-bottom: 40px;
}

.dis-bottom{
  height: 100px;
}
/*作品説明*/
.sub-discription h2{
  width: 100%;
  color: #323048;
  margin: 0 3% 0;
  border-bottom : 1px solid #495479;
   
}

.sub-discription h2:before{
  content: "";
  padding:0  1% 0 ;
  border-left: 7px solid #495479;
  
  
  
}

.so{
  font-size: 30px;
}

.sub-discription h3{
  font-size:18px;
  width: 100%;
  color: #323048;
  margin: 0 3% 0;
  font-weight: 300;
   border-bottom : 1px solid #495479;
  
   
}

.sub-discription h3:before{
  content: "";
  padding:0  1% 0 ;
  border-left: 7px solid #495479;
  
  
  
  
  
}
  
  #top .top-img{
  height: 240px;
  
  padding: 3vw 10vw 2vw 10vw;
  float:right;
}
  .web-title{
  
  margin: 3vw auto 10vw;
  height: 25vw;
  
}
.product-txt{
  margin: 6vw 5vw 0;
}
.prtxt{ 
  width: 100%;
  margin: 0 0 5vw 0;
}
.prtxt-p{
  width: 100%;
  margin: 0 0 0 1%;
}
.prtxt-r{
  width: 92%;
  margin: 0 0 0 1%;
}
span{
  font-weight: 500;
}

.primg{
  width: 100%;
  float: none;
  margin: 0 auto;
}
 .form{
  width: 100%;
margin: 0  auto;
}
 /*ポートフォリオページの高さ*/
#Portfolio .main{
  height: 260vw;
  }
  
/*作品詳細ページの高さ*/
#Portfolio-main .main {
  height: 1300px;
}


  
  }
